In [1]:
import pandas as pd #dataframe library
import numpy as np #numeric library
import datetime as dt

#plot library
import matplotlib.pyplot as plt 
import seaborn as sns 

#evaluation library
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report,recall_score,precision_score

#label encoder library
from sklearn.preprocessing import LabelEncoder

# for min_max scaling (Kaggle)
from mlxtend.preprocessing import minmax_scaling

from sklearn.preprocessing import MinMaxScaler, StandardScaler

# for changing datatime type
from sklearn.preprocessing import StandardScaler

# for Box-Cox Transformation
from scipy import stats

# set seed for reproducibility
np.random.seed(0)

In [4]:
data_url = 'https://docs.google.com/spreadsheets/d/1Lii15km8Q91IWQKrhY6I0f92ZR2o4st7/edit#gid=560237263'
data_data = data_url.replace('/edit#gid=', '/export?format=csv&gid=')
data = pd.read_csv(data_data)
data.head()

C:\Users\cynth\AppData\Local\Temp\ipykernel_10424\405405635.py:3: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(data_data)

,day_no,time_no,service_filter,payment_cat,subs_no,subs_key,b_no,event_action_code,prefix_dom_sk_id,originating_cell_id,home_poc,city_name,physical_poc,roam_zone,destination_poc,rem_bal,rtd_amt,free_unit,usg_unit,sid
0,1/9/2021,1/9/2021 21:24,SMSBAS,PRE,2106705274,6281932975189,6.285693e+12,O,5636,510.11.34314.18692,JK0,JAKARTA,KA0,LOCXLM,JKT,673,50,0.0,1,SILVER
1,1/9/2021,1/9/2021 21:29,SMSBAS,PRE,2106705274,6281932975189,6.285693e+12,O,5636,510.11.34314.38401,JK0,JAKARTA,KA0,LOCXLM,JKT,623,50,0.0,1,SILVER
2,1/9/2021,1/9/2021 21:36,SMSBAS,PRE,2106705274,6281932975189,6.285693e+12,O,5636,510.11.34314.18693,JK0,JAKARTA,KA0,LOCXLM,JKT,573,50,0.0,1,SILVER
3,1/9/2021,1/9/2021 7:43,VASOCC,PRE,1075588229,6287775860056,9.955702e+06,B,-1,0.0.0.0,NOPOC,JAKARTA,B,LOCXLM,0,7220,5500,0.0,1,SILVER
4,1/9/2021,1/9/2021 4:24,CONTEN,PRE,1075588229,6287775860056,0.000000e+00,O,-1,510.11.411042.3,JK0,JAKARTA,JK0,NATZ10,0,101720,55,NaN,1048576,TRIBE

Syntax untuk melakukan pengecekan unique dalam sebuah kolom

In [5]:
data['city_name'].value_counts()

JAKARTA           13539
BANDUNG            4134
SURABAYA           3060
MATARAM            1701
SERANG             1045
                  ...
KOLAKA UTARA          8
CURUP                 7
DUMAI                 3
BANDAR LAMPUNG        3
SAMPIT                1
Name: city_name, Length: 107, dtype: int64